.memory-container {
    background-color: #1e2227;
    color: #ABB2BF;
    width: 500px;
    padding: 2rem;
    border-radius: 0.2rem;
    .title {
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .body {
        overflow: auto;
        height: 400px;
    }
    .body thead {
        th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid white;
        border-top: 0;
        th {
            background: #1e2227;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
        th.clickable:hover {
            cursor: pointer;
            background-color: #181b1f;
        }
        th:first-child {
            border-right: 1px solid white;
        }
        tr {
            border-bottom: 1px solid black;
            td,
            th {
                padding: 0.3rem;
            }
            th {
                font-size: 16px;
                font-weight: 900;
            }
            td {
                width: 45%;
            }
            td:first-child,
            th:first-child {
                text-align: right;
                border-right: 1px solid white;
            }
            td:last-child {
                width: 10%;
            }
        }
    }
    tr.current-row {
        background-color: #323842;
    }
    tr:hover {
        background-color: #323842;
    }
}